.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
  flex-wrap: wrap;

  margin-top: 50px;
  padding:50px;

}



.card{
  border-radius: 20px;
  padding:30px;
  background-color: white;
  width:280px;
  transition: transform 0.3s ease;
}
.card:hover{
  transform: scale(1.1);
}

.card:hover button{
  opacity: 1;
}

.offer{
  text-align: center;
  color:rgb(103, 103, 103);
  font-weight: 600;
  font-size: 15px;
}

span{
  font-size: 15px;
}

.price{
  font-size: 30px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}


.close{
  color:rgb(100, 100, 100);
  opacity: 0.9;
}

button{
  background-color: rgb(39, 109, 183);
  font-weight: 600;
  color:white;
  border:none;
  padding:10px;
  width:100%;
  border-radius: 20px;
  opacity: 0.9;
}

.bold{
  font-weight: 700;
}